# directories for local development
src/asset/
src/css/.sass-cache
src/css/styles.css
src/bower_components
src/favicons/src/export/
build/

# node related
node_modules/
package-lock.json

# yarn
yarn.lock

# test blog
src/blog/
stage/blog/
_stage/
