// compass
@import "compass/css3"; // skeleton
@import "vendor/skeleton/skeleton";
body {
    // background
    background-color: #ffffff;
    background-image: inline-image("ricepaper2_min.png");
    // disable user select and cursor style
    cursor: default;
    @include user-select(none);
}
.app {
    display: block;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 24px;
    // background-color: rgba(255, 255, 153, 0.5);
    @media (#{$bp-larger-than-phablet}) {
      margin: 24px 0;
    }
}
.main {
    // background-color: rgba(204, 255, 153, 0.5);
    height: 100%;
}
.name-row {
  @media (#{$bp-larger-than-phablet}) {
    // background-color: rgba(153, 255, 255, 1);
    // padding-top: 40%;
    position: relative;
    top: 50%;
    @include transform(translateY(-100%));
  }
}
.motto-row {
    position: absolute;
    bottom: 0;
    width: 100%;
    float: right;
}
.motto-container {
    text-align: right;
}
.column,
.columns {
    // background-color: rgba(153, 153, 255, 0.5);
}
.container {
    padding: 0;
}
