@import "compass/reset";
@import "compass/css3";

body {
  background-color: #ffffff;
  background-image: image-url("ricepaper2.png");
}

.coming-soon {
  text-align: center;
  font-size: 4em;
  margin: 20% 8% 0;
}
