// compass
@import "compass/css3";
// skeleton
@import "vendor/skeleton/skeleton";
// coming soon only
@import "res/coming_soon";
body {
    // background
    background-color: #ffffff;
    background-image: inline-image("ricepaper2_min.png");
    // disable user select and cursor style
    cursor: default;
    @include user-select(none);
}
.fullscreen {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
}
$center_text_box_width: 320px;
$center_text_box_height: 64px;
.center-text {
    position: absolute;
    width: $center_text_box_width;
    height: $center_text_box_height;
    top: 50%;
    left: 50%;
    margin-left: -$center_text_box_width/2;
    margin-top: -$center_text_box_height/2;
    text-align: center;
}
